.DS_Store

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
bin/
pkg/
src/github.com/onsi/
src/code.google.com/
src/github.com/gocql/
src/github.com/golang/
src/speter.net/
src/github.com/CapillarySoftware/gostat/gostat
src/github.com/op/
src/github.com/cihub/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
